$main: linear-gradient(#e2e2e2 0 0) padding-box,
   linear-gradient(183deg, #5813c9 35%, #e33ef2 81%) border-box;

.Telescope {
   padding: 100px 0;
   height: 100%;

   h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      font-family: 'Space Mono', monospace;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      margin: 0;
   }

   &:focus-within {
      padding-top: 0;

      // Search
      .Search {
         &-Input {
            text-align: left;
         }
      }
      .Header {
         position: relative;
         z-index: 2;
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin: 16px 0;

         h1 {
            letter-spacing: 0.2em;
         }

         .logoTS {
            margin-right: 16px;
            height: 32px;
         }
      }
   }

   // Search

   .Search {
      &-Input {
         padding: 12px;
         color: #5813c9;
      }
   }

   .Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;

      .logoTS {
         height: 100px;
         transition: all 0.6s;
      }
   }

   .Form {
      border-radius: 12px;
      box-shadow: 0px 2px 36px transparent;
      border: 1px solid transparent;
      border: 1px solid #eee;
      margin-bottom: 120px;

      .Search {
         border-radius: 12px;
         border: 1px solid rgb(145, 145, 145);
         border: 2.4px solid transparent;
         background: linear-gradient(#e2e2e2 0 0) padding-box;
         background: linear-gradient(#e2e2e2 0 0) padding-box,
            linear-gradient(183deg, #5813c9 35%, #e33ef2 81%) border-box;

         &-Input {
            text-align: center;
            padding: 12px;
            color: #5813c9;
         }
      }

      &:focus-within {
         background-color: rgb(245, 245, 245);
         border-radius: 16px;
         box-shadow: 0px 2px 36px rgba(190, 130, 130, 0.1);
         border: 1px solid #e3e3e3;
      }
   }

   // Buttons
   .Buttons {
      &__item {
         border-radius: 120px;
         padding: 4px 12px;
         background: $main;
      }
   }
   // Results
   // Bookmarks
   // Cards
   .Card {
      &__icon {
         margin-right: 12px;

         &-container {
            border-radius: 32px;
         }

         &-default {
            border-radius: 20px;
         }
      }

      &__option {
         button {
            border-radius: 120px;
         }
         &-btn {
            border-radius: 120px;
         }
      }

      &.active {
         .Card__icon {
            height: 150px;
            min-width: 120px;

            &-container {
               border-radius: 12px;
            }
         }
      }
      // Groups
      // Article
   }
}
