$main: linear-gradient(#e2e2e2 0 0) padding-box,
   linear-gradient(183deg, #5813c9 35%, #e33ef2 81%) border-box;

.Telescope {
   padding: 100px 0;
   height: 100%;
   position: relative;


   h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      font-family: 'Space Mono', monospace;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      margin: 0;
   }

   &:focus-within {
      background: rgb(167, 167, 167);
      padding-top: 0;

      // Search
      .Form {
         box-shadow: 0px 2px 36px transparent;
         border: 1px solid #eee;
         // margin-bottom: 120px;

         @media screen and (max-width: 450px) {
            // box-shadow: none;
            border: 1px solid transparent;
            // margin-bottom: 120px;
            width: 100%;
         }
      }

      .Search-Content {
         padding-top: 55px;
      }

      .Search {
         &-Input {
            text-align: left;
         }
      }

      .Header {
         position: relative;
         z-index: 2;
         display: flex;
         flex-direction: row;
         justify-content: center;
         padding: 16px 0 12px;
         
         position: absolute;
         top: 0;
         right: 50%;
         margin-right: -90px;
         z-index: 1100;

         h1 {
            letter-spacing: 0.2em;
         }

         .logoTS {
            margin-right: 16px;
            height: 32px;
         }
      }
   }

   // Search

   .Search-Content {
      // padding-top: 32px;
      background: rgb(255, 255, 255);
      padding: 0;
      border-radius: 0 0 16px 16px;
   }

   .Form {
      box-shadow: 0px 2px 36px transparent;
      border: 1px solid transparent;

      @media screen and (max-width: 450px) {
         width: 95%;
      }

      .Search {
         border-radius: 12px;
         border: 1px solid rgb(145, 145, 145);
         border: 2.4px solid transparent;
         background: linear-gradient(#e2e2e2 0 0) padding-box;
         background: linear-gradient(#e2e2e2 0 0) padding-box,
            linear-gradient(183deg, #5813c9 35%, #e33ef2 81%) border-box;

         &-Input {
            text-align: center;
            padding: 12px;
            color: #5813c9;

            @media screen and (max-width: 450px) {
               height: auto;
               padding: 16px 12px;
            }

            &::placeholder {
               color: #5813c9;
            }

            &:focus-within {
               padding-right: 78px;
               &::placeholder {
                  color: #747474;
               }

               text-align: left;
               color: #000;
            }
         }

         &-Buttons {
            top: 10px;
         }
      }
   }

   .Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding-bottom: 20px;

      .logoTS {
         height: 100px;
         transition: all 0.6s;
      }
   }
   // Buttons
   .Buttons {
      &__item {
         border-radius: 120px;
         padding: 4px 12px;
         background: $main;
         background-origin: border-box;
         background-clip: content-box, border-box;
      }

      &__add {
         background: linear-gradient(31deg, #e33ef2, #5813c9);
         border-radius: 120px;
      }
   }
   // Results
   .Results {
      &-Item {
         padding: 0;
         padding: 4px 0 4px 16px;
         @media screen and (max-width: 450px) {
            padding: 4px 0 4px 12px;
         }
      }
   }
   // Bookmarks
   // Cards
   .Card {
      &__icon {
         margin-right: 12px;

         &-container {
            border-radius: 32px;
         }

         &-default {
            border-radius: 20px;
         }
      }

      &__option {
         button {
            border-radius: 120px;
         }
         &-btn {
            border-radius: 120px;
         }
      }

      &.active {
         .Card__icon {
            height: 150px;
            min-width: 120px;

            &-container {
               border-radius: 12px;
            }
         }
      }
   }
   // Groups
   .Gropup {
      padding: 8px 0;

      &__name {
         border-radius: 8px;
         background-color: #e5c3fd;
         color: #8313c9;
      }

      &__list {
         &::-webkit-scrollbar-thumb {
            border-radius: 10px;
         }

         div {
            button {
               border-radius: 8px;
            }
         }
      }
   }

   // Article
}
