$btn-h: 38px;
$main: #017aff;

.Buttons {
   display: flex;
   overflow: hidden;

   &__list {
      display: flex;
      gap: 6px;
      padding: 0 4px 4px;
      position: relative;
      overflow-x: scroll;
      width: 100%;

      &::-webkit-scrollbar {
         position: absolute;
         bottom: -20px;
         display: block;
         right: 0;
         margin-top: 10px;
         height: 8px;
         -webkit-appearance: none;
      }

      &::-webkit-scrollbar-track {
         background: transparent;
         opacity: 0;
      }

      &::-webkit-scrollbar-thumb {
         background: transparent;
      }

      &:hover {
         &::-webkit-scrollbar-track {
            background: #d1d1d1;
            opacity: 1;
         }

         &::-webkit-scrollbar-thumb {
            background: #777777;
         }
      }
   }

   &__item {
      color: #333;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      border: solid 2px transparent;
      background: $main;
      box-shadow: 2px 1000px 1px #fff inset;
      white-space: nowrap;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 450px) {
         font-size: 16px;
      }
   }

   &__add {
      width: 24px;
      color: #ffffff;
      line-height: 16px;
      border: none;
      background: $main;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 400 !important;
      height: 24px;

      @media screen and (max-width: 450px) {
         width: $btn-h;
         height: $btn-h;
         padding: 0;
         padding: 0 12px;
      }
   }

   &-Modal {
      background: #fff;
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 12px 18px;
      height: 100%;
      width: 100%;

      &__Header {
         display: flex;
         justify-content: space-between;
         text-align: left;
         font-size: 18px;
      }

      &__Close {
         background: transparent;
         border: none;

         svg {
            $size: 1.5em;
            height: $size;
            width: $size;
         }
      }

      &__Add {
         background-color: $main;
         padding: 12px 24px;
         border: none;
         border-radius: 12px;
         font-size: 18px;
         color: #fff;
         margin-top: 18px;
         height: auto;
      }

      &__Content {
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 12px;

         &-Input {
            display: flex;
            justify-content: start;
            flex-direction: column;

            input {
               padding: 12px;
               font-size: 18px;
               border-radius: 12px;
               border: 2px solid #000000;
               
               &:focus-within {
                  border-radius: 12px;
                  background: rgba($main, 0.1);
                  border: 2px solid $main;
               }
            }

            label {
               font-size: 16px;
               text-align: left;
               margin-left: 4px;
               margin-bottom: 2px;
            }
         }
      }
   }
}
