$btn-h: 38px;

.Buttons {
   display: flex;
   overflow: hidden;

   &__list {
      display: flex;
      gap: 6px;
      padding: 0 4px 4px;
      position: relative;
      overflow-x: auto;
      width: 100%;

      &::-webkit-scrollbar {
         position: absolute;
         bottom: -20px;
         display: block;
         right: 0;
         margin-top: 10px;
         height: 8px;
         -webkit-appearance: none;
      }

      &::-webkit-scrollbar-track {
         background: transparent;
         opacity: 0;
      }

      &::-webkit-scrollbar-thumb {
         background: transparent;
      }

      &:hover {
         &::-webkit-scrollbar-track {
            background: #d1d1d1;
            opacity: 1;
         }

         &::-webkit-scrollbar-thumb {
            background: #777777;
         }
      }
   }

   button {
      height: 24px;

      @media screen and (max-width: 450px) {
         height: $btn-h;
         padding: 0 12px;
      }
   }

   &__item {
      background: transparent;
      border-radius: 120px;
      color: #333;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      border: solid 2px transparent;
      background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
         ),
         linear-gradient(to right, #5813c9, #e33ef2);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #fff inset;

      @media screen and (max-width: 450px) {
         font-size: 16px;
      }
   }

   &__add {
      width: 24px;
      color: #ffffff;
      border-radius: 120px;
      line-height: 16px;
      border: none;
      background: linear-gradient(to right, #5813c9, #e33ef2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;
      font-size: 24px;
      font-weight: 400 !important;

      @media screen and (max-width: 450px) {
         width: $btn-h;
         padding: 0;
      }
   }
}
