$main: #017aff;

.Article {
   border: 2px solid #00000052;
   width: 100%;
   text-align: left;

   &-Content {
      display: none;

      &__List {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         flex-direction: column;
         gap: 4px;
         
         @media screen and (max-width: 450px) {
            grid-template-columns: repeat(2, 1fr);

         }

         &-Item {
            padding: 8px;
            text-align: center;
            background-color: $main;
            text-decoration: none;
            color: #fff;
         }
      }
   }

   &-Button {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      margin: 6px 4px;
      text-align: center;
      color: #fff;
      background: $main;
   }

   &-Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      font-size: 18px;

      &__Open {
         background-color: transparent;
         border: none;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #76787a;

         & svg {
            $size: 20px;
            height: $size;
            width: $size;

            @media screen and (max-width: 450px) {
               $size: 26px;
               height: $size;
               width: $size;
            }
         }
      }

      &__icon {
         background: linear-gradient(24deg, #e33ef2, #5813c9);
         height: 32px;
         min-width: 32px;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         border-radius: 16px;
         display: flex;

         svg {
            $size: 18px;
            color: #fff;
            height: $size;
            width: $size;
         }
      }

      h3 {
         margin: 0;
         width: 100%;
      }
   }
}

.Article-Active {
   .Article-Header__Open {
      transform: rotate(180deg);
   }
   .Article-Content {
      display: block;
   }
}
