.Form {
   position: relative;
   width: 80%;
   overflow: hidden;
   background-color: transparent;
   border-radius: 12px;
   box-shadow: 0px 2px 36px transparent;
   border: 1px solid transparent;
   position: relative;
   z-index: 2;

   // Удали
   // background-color: #f8f8f8;
   // border-radius: 16px;
   // box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.1);
   // border: 1px solid #e3e3e3;

   // Вернуть обратно!!!

   .Result-List {
      display: none;
   }
   &:focus-within {
      // background-color: #fafafa;
      border-radius: 16px;
      box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.1);
      border: 1px solid #e3e3e3;

      .Result-List {
         display: block;
      }

      .logoTS {
         height: 32px;
         border: #000 2px solid;
      }
   }

   @media screen and (max-width: 450px) {
      width: 90%;
   }

   @media screen and (min-width: 980px) {
      width: 600px;
   }
}

.Search-Content {
   display: flex;
   margin-bottom: 100px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15vh;
   transition: all 0.6s;

   * {
      transition: all 0.8s;
   }

   &::after {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(129, 129, 129, 0.11);
      height: 100%;
      width: 100%;
      z-index: 1;
   }

   .Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;

      .logoTS {
         height: 100px;
      }
   }

   &:focus-within {
      margin-top: 20px;

      &::after,
      .line {
         display: block;
      }

      .Header {
         position: relative;
         z-index: 2;
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin-bottom: 16px;

         h1 {
            letter-spacing: 0.2em;
         }

         .logoTS {
            margin-right: 16px;
            height: 32px;
         }
      }

      .Search {
         &-Buttons {
            @media screen and (max-width: 450px) {
               right: 51px;
            }

            & button {
               display: block;
            }
         }
      }
   }
}

.Search {
   border-radius: 12px;
   position: relative;
   z-index: 1;
   overflow: hidden;
   margin: 4px;
   border: 2.4px solid transparent;
   background: linear-gradient(#e2e2e2 0 0) padding-box,
      linear-gradient(183deg, #5813c9 35%, #e33ef2 81%) border-box;

   &-Input {
      font-size: 18px;
      position: relative;
      text-align: center;
      outline: none;
      height: 100%;
      padding: 12px;
      width: 100%;
      border: none;
      background: #fff;
      color: #5813c9;
      font-weight: 400;

      @media screen and (max-width: 450px) {
         padding: 16px 12px;
      }

      &::placeholder {
         color: #5813c9;
      }

      &:focus {
         text-align: left;
         padding-right: 78px;
         color: #000;
         font-weight: normal;

         &::placeholder {
            color: #747474;
         }
      }
   }

   &-Buttons {
      display: flex;
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 10;
      background: #fff;
      padding-right: 10px;

      @media screen and (max-width: 450px) {
         height: 32px;
         width: 32px;
         right: 10px;
      }

      button {
         padding: 0;
         background: transparent;
         border: none;
         height: 24px;
         width: 24px;
         cursor: pointer;
         display: none;

         @media screen and (max-width: 450px) {
            height: 32px;
            width: 32px;
         }

         &.btnSearch {
            display: block;
         }

         img {
            height: 100%;
         }
      }

      .line {
         display: none;
         display: block;
         width: 1.5px;
         height: 24px;
         margin: 0 4px 0 2px;
         background: #e4e4e4;
      }
   }
}

.Result {
   width: 80%;
   margin: 1em auto 0;
   padding: 4px 0;
   background-color: #f8f8f8;
   border: 1px solid #e3e3e3;
   border-radius: 12px;
   overflow: hidden;

   .Result-Item {
      list-style: none;
      width: 100%;
      text-align: left;
      padding: 10px;
      cursor: pointer;

      &:hover {
         background-color: #e2e2e2;
      }
   }
}

mark {
   background-color: transparent;
   color: #5813c9;
   font-family: Roboto, Arial, sans-serif;
   background-color: #2aa5a0;
   background-image: linear-gradient(to top, #5813c9, #e33ef2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
