.Form {
    position: relative;
    width: 80%;
    overflow: hidden;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0px 2px 36px transparent;
    border: 1px solid transparent;

    @media screen and (max-width: 450px) {
        width: 90%;
    }

    @media screen and (min-width: 980px) {
        width: 600px;
    }

    // Вернуть обратно!!!

    // .Result-List {
    //     display: none;
    // }

    .Result-List {
        display: block;
    }

    // &:focus-within {
    //     background-color: #f8f8f8;
    //     border-radius: 16px;
    //     box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.1);
    //     border: 1px solid #e3e3e3;

    //     .Result-List {
    //         display: block;
    //     }
    // }
}

.Search-Content {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.Search {
    border-radius: 12px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 4px;
    border: 2px solid transparent;
    background: linear-gradient(#e2e2e2 0 0) padding-box,
        linear-gradient(to right, #5813c9, #e33ef2) border-box;

    &-Input {
        font-size: 18px;
        position: relative;
        text-align: center;
        outline: none;
        height: 100%;
        padding: 12px;
        width: 100%;
        border: none;
        background: #fff;
        color: #5813c9;
        font-weight: normal;

        &:focus {
            text-align: left;
            padding-right: 78px;
            color: #000;
        }
    }

    &-Buttons {
        display: flex;
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 10;
        background: #fff;
        padding-right: 10px;

        button {
            padding: 0;
            background: transparent;
            border: none;
            height: 24px;
            width: 24px;
            cursor: pointer;

            img {
                height: 100%;
            }
        }

        .line {
            display: block;
            width: 1.5px;
            height: 24px;
            margin: 0 8px 0 3px;
            background: #e4e4e4;
        }
    }
}

.Result {
    width: 80%;
    margin: 1em auto 0;
    padding: 4px 0;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
    overflow: hidden;

    .Result-Item {
        list-style: none;
        width: 100%;
        text-align: left;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #e2e2e2;
        }
    }
}
