.App {
    text-align: center;
    background: #FAFAFA;
}

.Windows {
    // padding-top: 10em;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .logoTS {
        height: 100px;
    }

    .Header {
        display: flex;
        justify-content: center;

        .logoTS {
            height: 32px;
            margin-right: 16px;
        }
    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold   ;
    font-size: 22px;
    line-height: 27px;
    margin: 4px 0 20px 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

button {
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

