.App {
   text-align: center;
   height: 100%;
}

.Windows {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   

   &::after {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(216, 216, 216, 0.856);
      height: 100%;
      width: 100%;
      z-index: 1;
      
      @media screen and (max-width: 450px) {
         background: rgba(61, 61, 61, 0.733);
      }
   }
   
   &:focus-within {
      &::after {
         display: block;   
      }
   }

   .logoTS {
      height: 100px;
   }

   .Header {
      &_active {
         display: flex;
         justify-content: center;

         @media screen and (min-width: 980px) {
            // width: 600px;
            margin-top: 2em;
         }

         .logoTS {
            height: 32px;
            margin-right: 16px;
         }
      }
   }
}

h1 {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.4em;
   font-family: 'Space Mono', monospace;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   margin: 0;
}

.App-header {
   // background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

button {
   white-space: nowrap;
   outline: none;
   cursor: pointer;
}
