$iconHW: 50px;

.Card {
   display: flex;
   width: 100%;
   text-align: left;
   // padding: 8px 16px 8px 0;
   // padding: 4px;
   cursor: pointer;
   font-weight: 600;
   justify-content: space-between;
   position: relative;

   &__info {
      display: flex;
      width: 70%;
      text-decoration: none;
      color: #000;

      @media screen and (max-width: 450px) {
         width: 75%;
      }

      // white-space: nowrap;
   }

   &__icon {
      transition: all 0.6s;
      margin-right: 8px;
      display: flex;
      // justify-content: center;
      // align-items: center;
      height: $iconHW;
      min-width: $iconHW;

      &-container {
         transition: all 0.6s;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         // margin: 8px 0;
         overflow: hidden;
         position: relative;
         z-index: 2;
      }

      &-default {
         height: 8px;
         width: 8px;
         background: #c6c6c6;
         // border-radius: 100px;
      }

      &-img {
         transition: all 0.6s;
         width: 80px;
         // width: 25%;
         position: absolute;
         z-index: 1;
         width: 61px;
         position: absolute;
         z-index: 1;
         top: -10px;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      @media screen and (max-width: 450px) {
         font-size: 18px;
         line-height: 85%;
         gap: 2px;
      }

      span {
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         line-height: normal;

         &:focus-within {
            overflow: auto;
            white-space: normal;
            text-overflow: clip;
         }
      }

      &-info {
         font-weight: normal;
         color: #818c99;
         font-size: 15px;
         line-height: 115%;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;

         @media screen and (max-width: 450px) {
            font-size: 16px;
         }
      }

      &-link {
         font-weight: normal;
         font-size: 16px;
         line-height: 19px;
         color: #1ab91a;
      }
   }

   &__option {
      display: flex;
      align-items: center;
      justify-self: end;
      gap: 4px;
      margin-left: 12px;
      position: absolute;
      right: 16px;
      top: 12.5px;

      button {
         font-size: 12px;
         color: #76787a;
         height: 22px;
         background: transparent;

         @media screen and (max-width: 450px) {
            height: 28px;
         }
      }

      &-btn {
         border: 1px solid #c6c6c6;
         display: flex;
         align-items: center;
         gap: 4px;
         padding: 0 10px;
         font-size: 12px;
         color: #76787a;
         height: 22px;
         background: transparent;
         // border-radius: 120px;

         text-decoration: none;
         font-weight: normal;

         &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            svg {
               $size: 1.5em;
               height: $size;
               width: $size;
            }
         }

         &_hidden {
            display: none;
         }

         @media screen and (max-width: 450px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            padding-top: 3px;

            &__img svg {
               $size: 2em;
               height: $size;
               width: $size;
            }

            &__text {
               display: none;
            }
         }

         &:hover {
            background: rgb(247, 247, 247);
         }
      }

      &-open {
         border: 1px solid transparent;
         padding: 0;
         margin: 0;

         & svg {
            $size: 20px;
            height: $size;
            width: $size;

            @media screen and (max-width: 450px) {
               $size: 26px;
               height: $size;
               width: $size;
            }
         }
      }
   }

   .Card__option-btn {
      background: #fff;
   }
}

.Card-Active {
   display: grid;
   grid-template-columns: 1fr;
   // grid-template-rows: 1fr 32px;
   padding-right: 12px;

   @media screen and (max-width: 450px) {
      padding-bottom: 8px;
      position: relative;

      &::after {
         content: '';
         display: block;
         height: 1px;
         width: 150%;
         position: absolute;
         bottom: 0;
         left: -12px;
         background-color: #c6c6c6;
      }
   }

   .Card {
      &__info {
         width: 100%;
         @media screen and (max-width: 450px) {
            // padding-bottom: 44px;
            hyphens: auto;
            display: flex;
            flex-direction: column;
         }
      }

      &__text {
         margin-top: 6px;
         justify-content: start;
         span {
            white-space: wrap;
         }
         &-info {
            margin-top: 2px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;

            @media screen and (max-width: 450px) {
               -webkit-line-clamp: unset;
            }
         }
      }

      &__icon {
         height: 150px;
         min-width: 120px;
         margin-right: 12px;

         @media screen and (max-width: 450px) {
            min-width: 75px;
            height: 75px;
            width: 75px;

            &-container {
               background: #c6c6c6;
               // width: 100%;
               height: 100%;
               margin: 0;
            }
         }

         &-img {
            height: 150%;
            width: auto;

            img {
               margin-top: 20px;
            }
         }
      }

      &__option {
         right: auto;
         top: auto;
         bottom: 6px;
         left: 119px;

         @media screen and (max-width: 450px) {
            bottom: auto;
            left: auto;
            right: 16px;
            top: 12.5px;
         }

         &-btn {
            width: auto;

            @media screen and (max-width: 450px) {
               width: 36px;
               padding: 0;

               span {
                  display: none;
               }
            }

            &_hidden {
               display: block;
            }
         }

         &-open {
            transform: rotate(180deg);
         }
      }
   }
}
