.Sdamgia {
   background-color: #f8fbfd;
   font-family: Verdana, Arial, sans-serif;
   font-weight: 400;
   padding: 24px 64px;

   .vnimanie {
      background-color: #ffcdcd;
      padding: 12px;
      border-radius: 12px;
      width: 90%;
      margin: auto;
      margin-bottom: 24px;
      border: 2px solid rgba(100, 0, 12, 0.275);

      a {
         color: rgb(102, 0, 12);
      }
   }

   @media screen and (max-width: 900px) {
      padding: 24px 8px 72px;
   }

   h2 {
      font-weight: 400;
      margin: 0;
   }

   h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      margin-top: 12px;
   }

   h4 {
      margin: 0;
      margin-bottom: 0.75rem;
      font-size: 21px;
      color: #006;
      font-weight: 700;
      text-align: left;
   }

   small {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
   }

   &-Search {
      padding: 10px 0;
      text-align: center;

      h4 {
         text-align: center;
      }
   }

   &-Logo {
      display: flex;
      margin-bottom: 12px;

      &__text {
         display: flex;
         flex-direction: column;
         text-align: left;
         margin-left: 24px;
      }

      @media screen and (max-width: 450px) {
         img {
            height: 50px;
            width: 50px;
         }

         h2 {
            font-size: 24px;
            font-weight: 900;
            margin: 0;
            color: #faa223;

            span {
               display: none;
            }
         }

         h3 {
            font-size: 16px;
            margin-top: 4px;
         }

         &__text {
            margin-left: 12px;

            small {
               display: none;
            }
         }
      }
   }

   &-Nav {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2px;

      @media screen and (max-width: 450px) {
         display: none;
      }

      &-Item {
         border: 1.5px solid #fcc39e;
         border-radius: 14px;
         padding: 10px 0;
         margin: 0.5px 0;
         position: relative;
         font-size: 12px;

         &::after {
            content: 'Предмет';
            display: block;
            position: absolute;
            top: 10%;
            left: 10%;
            height: 80%;
            width: 80%;
         }
      }
   }

   .Search-Content {
      background: transparent;

      .Form {
         font-family: Verdana, Arial, sans-serif;
         font-weight: 400;
         width: 100%;
         position: relative;
         border-radius: 0;

         .Card__option-btn {
            border-radius: 24px;
         }

         .Gropup__name {
            background: #ffe3bb;
            border-radius: 6px;
            color: #915808;
         }

         .Gropup__list-item {
            border-radius: 6px;
         }

         .Card__icon-container {
            border-radius: 10px;
            background-color: transparent;

            &:focus-within {
               border-radius: 10px;
               
               @media screen and (max-width: 450px) {
                  border-radius: 10px;
               }
            }
         }

         .Search {
            border: none;
            border-radius: 6px;
            width: 500px;
            margin: 0 auto;

            @media screen and (max-width: 450px) {
               width: 100%;
            }

            &:focus-within {
               width: 80%;
               @media screen and (max-width: 450px) {
                  width: 100%;
               }
            }

            &-Input {
               background-color: #f0f0f0;
               font-family: Verdana, Arial, sans-serif;
               font-weight: 400;
               padding: 0.3rem 0.55rem 0.4rem;
               font-size: 14px;
            }

            &-Buttons {
               background-color: transparent;

               @media screen and (max-width: 450px) {
                  top: 2px;
               }

               &__list {
                  padding: 0;
                  margin-bottom: 0;
               }
            }
         }

         .Result-List {
            width: 80%;
            margin: 0 auto;
            margin-top: 6px;

            @media screen and (max-width: 450px) {
               width: 100%;
               margin: 0;
            }

            .Results-Item {
               padding: 4px 0;
               &:hover {
                  background-color: #d2e2ff;

                  @media screen and (max-width: 450px) {
                     background-color: transparent;
                  }
               }
            }
            .Buttons {
               &__list {
                  padding: 0;
                  margin-bottom: 0;

                  @media screen and (max-width: 450px) {
                     margin-top: 6px;
                  }
               }

               &__add {
                  background: #d2e2ff;
                  background: linear-gradient(180deg, #d2e2ff, #9dccff);
                  border-radius: 6px;
                  color: #1d1d1d;
                  height: 28px;
                  width: 28px;
               }

               &__item {
                  border: 2px solid #d2e2ff;
                  background: linear-gradient(180deg, #d2e2ff, #9dccff);
                  border-radius: 6px;
                  color: #1d1d1d;
                  padding: 4px 8px;
               }
            }
         }
      }
   }

   .sidebar,
   .main .block {
      background-color: #e6e6e6;
      border-radius: 12px;
      padding: 24px;
   }

   .main {
      display: grid;
      gap: 10px;
   }

   .sidebar {
      border-radius: 12px;
      height: 70vh;

      @media screen and (max-width: 450px) {
         height: auto;
      }
   }

   .content {
      display: grid;
      gap: 12px;
      margin: 20px 0;
      grid-template-columns: 28.5% 70%;
      grid-template-rows: 100%;
      height: 100%;

      @media screen and (max-width: 450px) {
         grid-template-columns: 100%;
         grid-template-rows: auto auto;
      }
   }

   .footer {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 10px;

      @media screen and (max-width: 450px) {
         gap: 24px;
      }

      &-Nav {
         display: flex;
         gap: 20px;

         @media screen and (max-width: 450px) {
            gap: 16px;
            flex-direction: column;
            width: auto;
         }

         &-Item {
            position: relative;

            &::before {
               content: '';
               position: absolute;
               bottom: -2px;
               right: 0px;
               height: 1px;
               width: 100%;
               background-color: #a6a6a6;
            }

            &::after {
               content: '';
               position: absolute;
               top: 8px;
               right: -12px;
               height: 4px;
               width: 4px;
               border-radius: 100px;
               background-color: #1d1d1d;
            }

            &:nth-last-child(1) {
               &::after {
                  display: none;
               }
            }
         }
      }
   }
}
